.medications {
    text-align: end;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding: 20px;
}

.medication {
    padding: 10px;
    margin-bottom: 5px;

    .name {
        font-size: 18px;
        font-weight: 600;
    }

    .meaning {
        font-size: 16px;
        font-weight: 400;

    }
}

@media screen and (min-width: 992px) {
    .medications {
        text-align: center;
        width: max-content;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 25px;
        padding: 20px;
    }
}