.answer {
  width: 48%;
  padding: 10px;
  background-color: rgba(252, 211, 159, 0.9254901961);
  opacity: 80%;
  color: var(--text);
  font-weight: 500;
  border-radius: 10px;
  font-size: 19px;
}

@media screen and (max-width: 992px) {
  .answer {
    width: 46%;
    height: 100px;
    margin-bottom: 20px;
  }
}