.answer {
  width: 48%;
  padding: 10px;
  background-color: rgba(252, 211, 159, 0.9254901961);
  opacity: 80%;
  color: #000000;
  font-weight: 500;
  border-radius: 10px;
  font-size: 19px;

  // &:hover {
  //   border: 1px solid rgb(255, 153, 0);
  // }

  // rgba(255, 115, 0, 0.9254901961)
}