.statrBarContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: #f5ac58;
  color: var(--text);
  font-family: Verdana, sans-serif;
  border-radius: 10px;
  justify-content: flex-end;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  .statrBarContainer {
    margin-top: 10%;
  }
}