.cardContainer {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  font-size: 20px;
  justify-content: center;
  background-color: antiquewhite;
}

@media (max-width: 992px) {
  .cardContainer {
    width: 95%;
  }
}
