.cardContainer {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  font-size: 20px;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .cardContainer {
    width: 100%;
    padding: 20px 0;
  }
}