.btnContainer {
  margin: 20px auto 0 auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tabBtn {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: var(--text);
}

.selectedTab {
  border-bottom: var(--text) 1px solid;
  font-weight: bold;
}

.english:hover {
  background-color: antiquewhite;
  border-color: rgb(223, 151, 100);
}
